@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

$primary-color: #000;
$white: #fff;
$fontGeneral: "Roboto", sans-serif;
$colorButton: #004cf1;
$backgroundButtonForm: #d60b0b;